*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: gray;
  font-family: "IBM Plex Mono", monospace;
}
body {
  font-family: "Times New Roman", Times, serif;
}
.specialColor {
  background-color: #3f8e00;
}
.specialP {
  color: #9c9c9c;
}

/* header */
/* fiveBtn */
.fiveBtn {
  border-radius: 6px;
  opacity: 1;
  width: 160px;
  height: 65px;
}
.inner .special {
  height: 35rem;
}
/* icon */
.navbar-toggler {
  border: 2px solid #fff;
  background-color: white;
  border-radius: 6px;
  padding: 6px 10px;
}
.navbar-toggler:hover {
  background-color: #555;
  border-color: white;
}
header nav .collapse ul li a{
  color: #9c9c9c;
}
header nav .collapse ul li a:hover{
  color: white;
}
header nav .collapse ul li a.active{
  color: white !important;
}

/* caseStudies */
.imgWork {
  height: 100%;
}

/*  Testimonials*/
.Testimonials,
.getInTouch {
  background-color: #0d0d0d;
}
.testimonial-card {
  position: relative;
}

.testimonial-card::before {
  content: '"';
  position: absolute;
  top: -15px;
  left: 20px;
  font-size: 2rem;
  color: white;
  background-color: #0d0d0d;
  padding: 0 5px;
}

/* resent work */
.recentWork .card img {
  height: 20rem;
}
.recentWork .card p {
  height: 7rem;
  overflow: hidden;
}
/* getInTouch */
.getInTouch .row {
  width: 30%;
}
textarea {
  height: 7rem;
}
input,
textarea {
  border-radius: 6px;
}
.getInTouch .responsive-width {
  width: 80%;
}

@media (min-width: 768px) {
  .getInTouch .responsive-width {
    width: 30%;
  }
}
